/* Start Global*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Roboto',sans-serif;
	color: white;
}
body{
	width: 100%;
	height: 100%;
	background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/Black_colour.jpg") no-repeat center fixed;
	background-size: cover;
}
section{
	padding: 96px 0;
}

a{
	text-decoration: none;
	color: #eee;
}
p{
	font-size: 20px;
	font-weight: 300;
	color: white;

}
img{
	width: 100%;
}
/* End Global*/


/* Start reusable*/

.container{
	width:90%;
	max-width: 1920px;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;
}
.section-heading{
	text-align: center;
	margin-bottom: 160px;
	color:white;
}
.section-heading h1{
	font-size: 56px;
	color: rgba(255,255,255,.3);
	text-transform: uppercase;
	font-weight: 300;
	position:relative;
	margin-bottom: 16px;
}
.section-heading h1::before,
.section-heading h1::after{
	content: '';
	position: absolute;
	color:white;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(255,255,255,0.75);
}

.section-heading h1::before{
	width: 160px;
	height: 3px;
	border-radius: 12.8px;
}
.section-heading h1::after{
	width: 24px;
	height: 24px;
	border-radius: 100%;
	bottom: -16px;
}
.section-heading h6{
	font-size: 25.6px;
	font-weight: 300;
}

,has-margin-right{
	margin-right: 80px;
}
/* End reusable*/
/* Start header*/

header{
	width: 100%;
	height: 100vh;
}
.top-nav{
	width: 100%;
	height: 15vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background-color: #000000;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
	list-style:none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

li{
	margin: 0 32px;
}

.nav-link{
	font-family: 'Century Gothic',san-serif;
	font-size: 30px;
	padding: 16px;
	color:white;
}
.nav-link:hover,
.nav-link:focus{
	background: linear-gradient(to top, #ffe838, #fd57bf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.top-nav.open{
	top:0;
	border-radius:initial;
}

.menu-toggler{
	position: fixed;
	top: 80px;
	right: 80px;
	width: 80px;
	height: 64px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition:transform 650ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-45deg);
}

.bar{
	background: linear-gradient(to right, #ffe838, #fd57bf);
	width:100%;
	height: 4px;
	border-radius: 12.8px;

}
.bar.half{
	width: 50%;
}
.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.start{
	transform: rotate(-450deg) translateX(12.8px);
}

.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}

.open .bar.end{
	transform: rotate(-450deg) translateX(-12.8px);
}

.landing-text{
	/*background: rgba(0,0,0,0.4);*/
	padding: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
	width: 100%;
	text-align: center;
	z-index: 1;
	font-family: 'Century Gothic',sans-serif;
}
.landing-text h1{
	color: #fff;
	font-weight: bold;
	font-size: 100px;
	margin: 10px;
	font-weight: 100;
	letter-spacing: 16px;
	padding: 16px;
	user-select: none;
	text-align: center;

}
.landing-text h6
{
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;
	font-weight: 100;
	text-align:center;
}
ul
{
	margin: 0;
	padding: 0;
}
.landing-text li
{
	display: inline-block;
	margin: 6px;
	list-style: none;
}
.landing-text li a
{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out;
}
.landing-text a:hover
{
	color: #b9b9b9;
}
/* End header*/


/* Start About*/
.about.container{
	display:flex;
	align-items: center;
	justify-content: center;
}
.about-heading{
	text-align: center;
	text-transform: uppercase;
	line-height: 0;
	margin-bottom:150px;
	margin-left: 200px;
}
.about-heading h1{
	font-size: 100px;
	opacity: .8;
	color: white;
}
.about-heading h6{
	font-size: 32px;
	font-weight: 300;
	color:white;
}
.about img{
	flex:1;
	margin-right:80px;
	border-radius: 100%;
	width: 250px;
	height: 250px;
	margin-bottom: -500px;
}
.about-details{
	flex: 1;
}
.social-media{
	margin-top: -250px;
}
.social-media i{
	font-size: 80px;
	transition: color 650ms;
}
.social-media li
{
	display: inline-block;
	margin: 20px;
	list-style: none;
}
.social-media li a
{
	color: white;
	text-decoration: none;
	font-size: 60px;
	transition: all ease-in-out;
}

.fa-linkedin-square:hover{
	color:#4267b2;
}
.fa-github-square:hover{
	color:#4267b2;
}
/* End About*/



/* Start Portfolio */
.portfolio-item{
	display:flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
}

.portfolio-item: last-child{
	margin-bottom: 0;
}
.portfolio-img{
	width:800px;
	flex: 1;
}
.portfolio-description{
	flex:1;
}
.portfolio-description h1{
	font-size: 48px;
	font-weight: 300;
	color:white;
	margin: 16px 0;
}
.portfolio-description h6{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;
	color:white;
	opacity: 0.8;
}
.portfolio-description .cta{
	display: inline-block;
	margin-top: 40px
	font-size: 24;
	text-transform: uppercase;
	color: #3883ff;
	transition: color 650ms;
}
.portfolio-description .cta:hover{
	color:#2f67cd;
}
/* End Portfolio */

/* Start Timeline */
.timeline ul{
	border-left: 4px solid #ffe838;
	border-radius: 12.8px;
	background-color: rgba(0,0,0,0.05);
	margin: 0 auto;
	position: relative;
	padding: 200px;
	list-style:none;
	text-align: left;
	width: 100%;
}
.timeline h1{
	font-size:32px;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 16px;
	opacity: 0.8;
	color: white;
}
.timeline .date{
	border-bottom: 1px solid rgba(255,255,255,0.1);
	margin-bottom: 16px;
	padding-bottom:16px;
	position:relative;
	color: white;
}
.timeline .date:last-of-type{
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.timeline .date::before,
.timeline .date::after{
	position: absolute;
	display: block;
	top:50%;
	transform: translateY(-50%)
	color: white;
}
.timeline .date::before{
	content: attr(data-date);
	left: -336px;
	text-align: right;
	min-width: 192px;
	font-size: 24px;
}
.timeline .date::after{
	content: '';
	box-shadow: 0 0 0 4px white;
	border-radius: 100%;
	left: -245px;
	height: 24px;
	width: 24px;
	background-color: #313534;
}
/* End Timeline */

/* Start Footer */

.copyright{
	width: 100%;
	text-align: center;
	background-color: #000000;
	padding:32px 0;
	position: relative;
}

.copyright p{
	font-size: 22.4px;
	text-align: center;
}
/* End Footer */


/*media queries*/

@media screen and (max-width: 768px){
	body{
	background: url("https://upload.wikimedia.org/wikipedia/commons/5/50/Black_colour.jpg") no-repeat center fixed;
	background-size: cover;
}
.landing-text h1{
	font-size:240px;
}
.landing-text h6{
	font-size:27.2px;
}
 
}